@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1c1e24;
    color: #fff;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
}

/* ============================================================================= */

/* App.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Header,
.Footer {
    background-color: #333;
    text-align: center;
    padding: 1rem;
}

.MainContent {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.MainSection {
    flex: 1;
    overflow-y: auto;
    padding-left: 10rem;
    padding-right: 10rem;
    height: calc(100vh - 120px);
}

.LeftSection {
    flex: 1;
    padding: 1rem;
    position: sticky;
    top: 0;
}

.RightSection {
    flex: 2;
    padding: 1rem;
    overflow-y: auto;
    height: calc(
        100vh - 120px
    ); /* Ajusta esta altura según el tamaño de tu header y footer */
    overflow-x: auto;
}

@media (max-width: 768px) {
    .MainContent {
        flex-direction: column;
    }

    .LeftSection {
        position: static;
    }

    .RightSection {
        height: auto;
        overflow-y: visible;
    }
}

.table-row:hover {
    background-color: #36465f; /* Color de fondo para el hover */
    border: solid rgb(255, 255, 255) 3px;
}
/* ********************************************************************** */

#wrapper {
    position: relative;
    background: #000524;
    border: 1px solid #000;
    box-shadow: 0 22px 35px -16px rgba(0, 0, 0, 0.71);
    /* max-width: 900px; */
    margin: 0 auto;
}

#chart-bar {
    position: relative;
    margin-top: -38px;
}

/* ******************************************************************* */
.wordcloud {
    display: flex;
    flex-direction: column;
    user-select: none;
}
.wordcloud svg {
    margin: 1rem 0;
    cursor: pointer;
}

.wordcloud label {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    margin-right: 8px;
}
.wordcloud textarea {
    min-height: 100px;
}


.word-cloud {
    position: relative;
    width: 100%;
    height: 500px;
    border: 1px solid #ddd;
    overflow: hidden;
  }
  
  .word {
    display: inline-block;
    font-family: Arial, sans-serif;
    color: #007BFF;
    white-space: nowrap;
  }
  